// #include <layout_shift.dtsi>

#include <layout_shift_kp_override.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define L_W_DEF    0
#define L_M_DEF    1
#define L_W_NUM    2
#define L_M_NUM    3
#define L_FUNC    4
#define L_W_TB    5
#define L_M_TB    6
#define L_SLW_TB    7
#define L_FST_TB    8
#define L_BT    9
#define L_SYS    10
#define L_OTR    11

&mt {
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
};

/ {
    macros {
        Hotmail: Hotmail {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp K &kp A &kp Z &kp U &kp M &kp I &kp C &kp H &kp I &kp N7 &kp AT &kp H &kp O &kp T &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "HOTMAIL";
        };

        gmail: gmail {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp K &kp A &kp Z &kp U &kp M &kp I &kp C &kp H &kp I &kp N0 &kp N4 &kp N2 &kp N3 &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "GMAIL";
        };

        scmail: scmail {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp K &kp A &kp Z &kp U &kp M &kp I &kp C &kp H &kp I &kp DOT &kp W &kp A &kp D &kp A &kp AT &kp S &kp U &kp M &kp I &kp T &kp O &kp M &kp O &kp C &kp O &kp R &kp P &kp DOT &kp C &kp O &kp M>;
            label = "SCMAIL";
        };

        PW: PW {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp M &kp I &kp N &kp T &kp G &kp U &kp M &kp N1 &kp N9 &kp N8 &kp N4>;
            label = "PW";
        };
    };

    behaviors {
        EQ_PL_MN: EQ_PL_MN {
            compatible = "zmk,behavior-tap-dance";
            label = "EQ_PL_MN";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>, <&kp PLUS>, <&kp MINUS>;
        };
    };

    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <1 0>;
        };

        Lang2 {
            bindings = <&kp LANGUAGE_2>;
            key-positions = <15 39>;
        };

        Lang1 {
            bindings = <&kp LANGUAGE_1>;
            key-positions = <20 42>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        W_DEF {
            label = "W_DEF";
            bindings = <
&lt 5 TAB         &kp Q     &kp W                &kp E     &kp R        &kp T            &kp Y        &kp U          &kp I      &kp O                     &kp P             &kp EQUAL
&kp LEFT_CONTROL  &kp A     &kp S                &kp D     &kp F        &kp G            &kp H        &kp J          &kp K      &kp L                     &kp SEMI          &kp SQT
&kp LSHFT         &kp Z     &kp X                &kp C     &kp V        &kp B            &kp N        &kp M          &kp COMMA  &kp DOT                   &kp SLASH         &mt RIGHT_SHIFT GRAVE
&lt 9 ESC         &kp LGUI  &mt LALT LANGUAGE_2            &lt 5 MINUS  &lt 2 SPACE      &lt 4 ENTER  &kp BACKSPACE             &mt RIGHT_ALT LANGUAGE_1  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&kp LEFT          &kp UP    &kp SPACE            &kp DOWN  &kp RIGHT                                  &kp HOME       &kp PG_UP  &kp ENTER                 &kp PG_DN         &kp END
                                                 &kp A                                                               &kp B
            >;

            sensor-bindings =
                <&inc_dec_kp RIGHT LEFT>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        M_DEF {
            label = "M_DEF";
            bindings = <
&lt 6 TAB         &kp Q     &kp W                &kp E     &kp R        &kp T            &kp Y        &kp U          &kp I      &kp O                     &kp P             &kp EQUAL
&kp LEFT_COMMAND  &kp A     &kp S                &kp D     &kp F        &kp G            &kp H        &kp J          &kp K      &kp L                     &kp SEMI          &kp SQT
&kp LSHFT         &kp Z     &kp X                &kp C     &kp V        &kp B            &kp N        &kp M          &kp COMMA  &kp DOT                   &kp SLASH         &mt RIGHT_SHIFT GRAVE
&lt 9 ESCAPE      &kp LGUI  &mt LALT LANGUAGE_2            &lt 6 MINUS  &lt 3 SPACE      &lt 4 ENTER  &kp BACKSPACE             &mt RIGHT_ALT LANGUAGE_1  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&kp LEFT          &kp UP    &kp SPACE            &kp DOWN  &kp RIGHT                                  &kp HOME       &kp PG_UP  &kp ENTER                 &kp PG_DN         &kp END
                                                 &kp A                                                               &kp B
            >;

            sensor-bindings =
                <&inc_dec_kp RIGHT LEFT>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        W_NUM {
            label = "W_NUM";
            bindings = <
&kp TAB          &kp RS(RG(S))  &kp RG(LC(LEFT))  &kp UP_ARROW  &kp LC(LG(RIGHT))  &kp LS(LC(TAB))      &kp PERIOD    &kp N7         &kp NUMBER_8  &kp N9        &kp PLUS              &none
&kp LCTRL        &kp LC(A)      &kp LEFT          &kp DOWN      &kp RIGHT          &kp LC(TAB)          &EQ_PL_MN     &kp NUMBER_4   &kp N5        &kp NUMBER_6  &kp COLON             &kp SQT
&kp LSHFT        &kp LC(Z)      &kp LC(X)         &kp LC(C)     &kp LC(V)          &kp LC(B)            &kp NUMBER_0  &kp NUMBER_1   &kp NUMBER_2  &kp NUMBER_3  &kp SLASH             &none
&kp LC(LA(DEL))  &kp LGUI       &kp LALT                        &kp MINUS          &kp SPACE            &kp ENTER     &kp BACKSPACE                &kp COMMA     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&kp LEFT         &kp UP         &kp SPACE         &kp DOWN      &kp RIGHT                                             &kp HOME       &kp PG_UP     &kp ENTER     &kp PG_DN             &kp END
                                                  &kp A                                                                              &kp B
            >;

            sensor-bindings =
                <&inc_dec_kp RIGHT LEFT>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        M_NUM {
            label = "M_NUM";
            bindings = <
&kp TAB           &kp RS(RG(A))  &kp LC(LEFT)    &kp UP_ARROW  &kp LC(RIGHT)  &kp LS(LC(TAB))      &kp PERIOD    &kp N7         &kp NUMBER_8  &kp N9        &kp PLUS              &none
&kp LEFT_COMMAND  &kp RG(A)      &kp LEFT        &kp DOWN      &kp RIGHT      &kp LC(TAB)          &EQ_PL_MN     &kp NUMBER_4   &kp N5        &kp NUMBER_6  &kp COLON             &kp SQT
&kp LSHFT         &kp RG(Z)      &kp RG(X)       &kp RG(C)     &kp RG(V)      &kp RG(B)            &kp NUMBER_0  &kp NUMBER_1   &kp NUMBER_2  &kp NUMBER_3  &kp SLASH             &none
&kp LC(LA(DEL))   &kp LGUI       &kp LANGUAGE_2                &kp MINUS      &kp SPACE            &kp ENTER     &kp BACKSPACE                &kp COMMA     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&kp LEFT          &kp UP         &kp SPACE       &kp DOWN      &kp RIGHT                                         &kp HOME       &kp PG_UP     &kp ENTER     &kp PG_DN             &kp END
                                                 &kp A                                                                          &kp B
            >;

            sensor-bindings =
                <&inc_dec_kp RIGHT LEFT>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        FUNC {
            label = "FUNC";
            bindings = <
&kp TAB    &kp F1               &kp F2          &kp F3    &kp F4      &kp F5           &kp F6     &kp F7         &kp F8        &kp F9                &kp F10                &kp F12
&none      &kp LS(EXCLAMATION)  &kp AT_SIGN     &kp HASH  &kp DOLLAR  &kp PERCENT      &kp CARET  &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp NON_US_BACKSLASH
&kp LSHFT  &none                &none           &none     &none       &none            &none      &none          &none         &none                 &none                  &none
&kp ESC    &kp LGUI             &kp LANGUAGE_2            &kp MINUS   &kp SPACE        &kp SPACE  &kp SPACE                    &kp LEFT              &kp DOWN               &kp RIGHT
&kp LEFT   &kp UP               &kp SPACE       &kp DOWN  &kp RIGHT                               &kp HOME       &kp PG_UP     &kp ENTER             &kp PG_DN              &kp END
                                                &kp A                                                            &kp B
            >;

            sensor-bindings =
                <&inc_dec_kp K_SCROLL_DOWN K_SCROLL_UP>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        W_TB {
            label = "W_TB";
            bindings = <
&kp TAB   &Hotmail   &gmail        &scmail         &none          &kp LC(RS(TAB))      &PW       &none       &none      &none             &none      &none
&mo 7     &kp LC(A)  &kp RG(LEFT)  &lt 10 RG(TAB)  &kp RG(RIGHT)  &kp LC(TAB)          &mkp MB5  &mkp LCLK   &mkp RCLK  &kp RG(UP_ARROW)  &none      &none
&mo 8     &kp LC(Z)  &kp LC(X)     &kp LC(C)       &kp LC(V)      &kp LC(B)            &mkp MB4  &kp LA(F4)  &kp LC(W)  &none             &kp UP     &none
&trans    &kp LGUI   &kp LALT                      &kp SPACE      &kp SPACE            &mo 4     &kp SPACE              &kp LEFT          &kp DOWN   &kp RIGHT
&kp LEFT  &kp UP     &kp SPACE     &kp DOWN        &kp RIGHT                                     &kp HOME    &kp PG_UP  &kp ENTER         &kp PG_DN  &kp END
                                   &kp A                                                                     &kp B
            >;

            sensor-bindings =
                <&inc_dec_kp LC(K_SCROLL_DOWN) LC(K_SCROLL_UP)>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        M_TB {
            label = "M_TB";
            bindings = <
&kp TAB   &Hotmail   &gmail        &scmail         &none          &kp LC(RS(TAB))      &PW       &none          &none      &none                 &none      &none
&mo 7     &kp LC(A)  &kp LC(LEFT)  &lt 10 LC(TAB)  &kp RG(RIGHT)  &kp LC(TAB)          &mkp MB5  &mkp LCLK      &mkp RCLK  &kp LC(RG(UP_ARROW))  &none      &none
&mo 8     &kp RG(Z)  &kp RG(X)     &kp RG(C)       &kp RG(V)      &kp RG(B)            &mkp MB4  &kp RG(RA(W))  &kp RG(W)  &none                 &kp UP     &none
&trans    &kp LGUI   &kp LALT                      &kp SPACE      &kp SPACE            &mo 4     &kp SPACE                 &kp LEFT              &kp DOWN   &kp RIGHT
&kp LEFT  &kp UP     &kp SPACE     &kp DOWN        &kp RIGHT                                     &kp HOME       &kp PG_UP  &kp ENTER             &kp PG_DN  &kp END
                                   &kp A                                                                        &kp B
            >;

            sensor-bindings =
                <&inc_dec_kp LG(PLUS) LG(MINUS)>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        SLW_TB {
            label = "SLW_TB";
            bindings = <
&kp TAB   &Hotmail   &gmail        &scmail      &none          &kp LC(RS(TAB))      &PW        &none       &none      &none             &none      &none
&none     &kp LC(A)  &kp RG(LEFT)  &kp RG(TAB)  &kp RG(RIGHT)  &kp LC(TAB)          &mkp MB5   &mkp LCLK   &mkp RCLK  &kp RG(UP_ARROW)  &none      &none
&none     &kp LC(Z)  &kp LC(X)     &kp LC(C)    &kp LC(V)      &kp LC(B)            &mkp MB4   &kp LA(F4)  &kp LC(W)  &none             &kp UP     &none
&trans    &kp LGUI   &kp LALT                   &kp SPACE      &kp SPACE            &kp SPACE  &kp SPACE              &kp LEFT          &kp DOWN   &kp RIGHT
&kp LEFT  &kp UP     &kp SPACE     &kp DOWN     &kp RIGHT                                      &kp HOME    &kp PG_UP  &kp ENTER         &kp PG_DN  &kp END
                                   &kp A                                                                   &kp B
            >;

            sensor-bindings =
                <&inc_dec_kp LG(PLUS) LG(MINUS)>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        FST_TB {
            label = "FST_TB";
            bindings = <
&kp TAB   &Hotmail   &gmail        &scmail      &none          &kp LC(RS(TAB))      &PW        &none       &none      &none             &none      &none
&none     &kp LC(A)  &kp RG(LEFT)  &kp RG(TAB)  &kp RG(RIGHT)  &kp LC(TAB)          &mkp MB5   &mkp LCLK   &mkp RCLK  &kp RG(UP_ARROW)  &none      &none
&none     &kp LC(Z)  &kp LC(X)     &kp LC(C)    &kp LC(V)      &kp LC(B)            &mkp MB4   &kp LA(F4)  &kp LC(W)  &none             &kp UP     &none
&trans    &kp LGUI   &kp LALT                   &kp SPACE      &kp SPACE            &kp SPACE  &kp SPACE              &kp LEFT          &kp DOWN   &kp RIGHT
&kp LEFT  &kp UP     &kp SPACE     &kp DOWN     &kp RIGHT                                      &kp HOME    &kp PG_UP  &kp ENTER         &kp PG_DN  &kp END
                                   &kp A                                                                   &kp B
            >;

            sensor-bindings =
                <&inc_dec_kp LG(PLUS) LG(MINUS)>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        BT {
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4  &bt BT_CLR
&none  &none         &none         &none         &none         &none             &none          &none          &none          &none          &none          &none
&none  &none         &none         &none         &none         &none             &none          &none          &none          &none          &none          &none
&none  &to 0         &to 1                       &none         &none             &none          &none                         &none          &none          &bt BT_CLR_ALL
&none  &none         &none         &none         &none                                          &none          &none          &none          &none          &none
                                   &none                                                                       &none
            >;

            label = "BT";
            sensor-bindings = <&inc_dec_kp K_SCROLL_DOWN K_SCROLL_UP>;
        };

        SYS {
            label = "SYS";
            bindings = <
&kp TAB   &Hotmail   &gmail        &scmail      &none          &kp LC(RS(TAB))      &PW       &none       &none      &none             &none      &none
&mo 8     &kp LC(A)  &kp RG(LEFT)  &kp RG(TAB)  &kp RG(RIGHT)  &kp LC(TAB)          &mkp MB5  &mkp LCLK   &mkp RCLK  &kp RG(UP_ARROW)  &none      &none
&mo 7     &kp LC(Z)  &kp LC(X)     &kp LC(C)    &kp LC(V)      &kp LC(B)            &mkp MB4  &kp LA(F4)  &kp LC(W)  &none             &kp UP     &none
&trans    &kp LGUI   &kp LALT                   &kp SPACE      &kp SPACE            &mo 4     &kp SPACE              &kp LEFT          &kp DOWN   &kp RIGHT
&kp LEFT  &kp UP     &kp SPACE     &kp DOWN     &kp RIGHT                                     &kp HOME    &kp PG_UP  &kp ENTER         &kp PG_DN  &kp END
                                   &kp A                                                                  &kp B
            >;

            sensor-bindings =
                <&inc_dec_kp LC(K_SCROLL_DOWN) LC(K_SCROLL_UP)>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        OTR {
            label = "OTR";
            bindings = <
&kp TAB    &kp Q     &kp W      &kp E     &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P      &trans
&kp A      &kp A     &kp S      &kp D     &kp F      &kp G          &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp SQT
&kp LSHFT  &kp Z     &kp X      &kp C     &kp V      &kp B          &kp N      &kp M      &kp COMMA  &kp DOT    &kp UP     &trans
&trans     &kp LGUI  &kp LALT             &kp SPACE  &kp SPACE      &kp SPACE  &kp SPACE             &kp LEFT   &kp DOWN   &kp RIGHT
&kp LEFT   &kp UP    &kp SPACE  &kp DOWN  &kp RIGHT                            &kp HOME   &kp PG_UP  &kp ENTER  &kp PG_DN  &kp END
                                &kp A                                                     &kp B
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
